* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans",
    "Segoe UI", "Helvetica", Arial, sans-serif;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 42px;
  font-weight: 300;
  color: #f75f13;
}

#search-bar {
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signin {
  font-size: 14px;
  margin-left: 100px;
}

#nav-top {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
  color: gray;
}

#nav-top a {
  text-decoration: none;
  color: gray;
}

#nav-top ol {
  margin-top: 50px;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

#mainpart {
  /* position: absolute; */
  align-content: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1300px;
  /* background-color: rgb(224, 222, 222); */
  /* display: flex; */
}

#grid img:hover {
  transition: 0.5s;
  box-shadow: 2px 2px 2px 2px #b1b0b0;
}

.fa.fa-heart {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50%;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 300px;
  width: 1300px;
  /* height: 500px; */
  /* padding-right: 10px; */
  /* position: absolute; */
  justify-items: center;
}

/* .products {
  border: 1px solid red;
  height: 100%;
} */

.product-image {
  width: 240px;
  height: 150px;
  position: relative;
  display: inline;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-links {
  text-decoration: none;
  font-size: 14px;
  color: rgb(50, 49, 49);
}

.item-name {
  width: auto;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
  /* font-size: 14px;
  color: rgb(50, 49, 49); */
}

/* .item-price {
  color: black;
  font-size: 12px;
  font-family: Verdana;
} */

.shop-name {
  font-size: 12px;
}

.stars {
  font-size: 12px;
  color: gray;
}

.item-price {
  font-size: 16px;
  font-weight: 300;
  font-weight: bold;
  color: black;
}

.placeholder-text {
  font-size: 10px;
  color: gray;
}

#footer {
  margin-top: 500px;
  /* position: absolute; */
}

.subscribe {
  background-color: #dae5f3;
  height: 200px;
}

.sitemap {
  background-color: #354569;
  height: 350px;
}

.footer-info {
  background-color: #232345;
  height: 100px;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.bottom-links {
  text-decoration: underline;
  color: white;
}

.footer-info li {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  margin: 2rem;
  position: relative;
}

.nav-label .dropdown {
  display: none;
}

.nav-label .dropdown {
  position: absolute;
  left: 0;
  right: 0;
}

.nav-list {
  display: flex;
}

.nav-label:hover > .dropdown {
  display: flex;
}

.dropdown-block {
  display: none;
  position: absolute;
  left: 30%;
  top: 0;
  padding: 10px;
  line-height: 2em;
}

.dropdown-item {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.dropdown ul {
  width: 100%;
}

.dropdown-item .dropdown-item-label {
  width: 30%;
  padding: 10px;
}

.dropdown-item .dropdown-item-label:hover {
  background: #ddd;
}

.dropdown-item:hover > .dropdown-block {
  display: block;
}
